@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300..900;1,300..900&display=swap'); */
@import "tailwindcss";

* {
  /* font-family: "Poppins", serif; */
  font-family: "Rubik", serif;
}

.banner {
  background: url('assets/images/main-bg.png') no-repeat;
  background-size: 85%;
  background-position: right center;
}

.bg-hero {
  /* background: red; */
  background: white;
  background-size: cover;
}

.nav-bg {
  width: 100%;
  height: 100%;
  background: url('./assets/images/nav-bg.jpg');
  background-size: cover;
}

.navlink-bg {
  background: linear-gradient(to right, rgb(175, 12, 12) 50%, transparent 50%);
  background-size: 200%;
  background-position: right;
  transition: .4s;
}
.navlink-bg:hover {
  background-position: left;
  color: #fff;
}

.slide-text {
  background-image: linear-gradient(to right, #db111b 50%, transparent 50%);
  background-size: 200%;
  background-position: right;
  padding: 2px 5px;
  padding-right: 10px;
  display: inline-block;
  transition: 1s;
  color: #fff;
}
.slide-in {
  background-position: left;
  /* color: #fff; */
}

.btn {
  background: linear-gradient(to right, #FB2C36 50%, black 50%);
  background-size: 200%;
  background-position: left;
  transition: .4s
}
.btn:hover {
  background-position: right;
  color: #f7d5d5;
}

/* Float */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  25% {
    transform: translateY(-5px) rotate(-3deg);
  }

  50% {
    transform: translateY(5px) rotate(3deg);
  }

  75% {
    transform: translateY(-2px) rotate(-2deg);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes moveRightAndBack {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(40px);
  }
}

.animated-heart {
  animation: moveRightAndBack 2.5s infinite;
}

.shade-img {
  position: relative;
}
.shade-img::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 5px;
  bottom: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: red;
  z-index: -1;
}

.transform-img {
  transform: translateY(-130px) rotateY(-25deg);
}

/* AUTH PAGES */

.login-bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, #0000007e, #00000096), url('assets/images/about/about4.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.apply-bg {
  background: linear-gradient(to right bottom, #0000007e, #00000096), url('assets/images/class3.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.verify-bg {
  background: linear-gradient(to bottom, #00000018, #00000093, #00000096),url('assets/images/about/about2.jpg') no-repeat;
  background-size: cover;
}
.book-bg {
  background: linear-gradient(to bottom, #00000018, #000000bb, #000000a9), url('assets/images/class2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

/* SECTION COURSES STICKY EFFECT */
.courses {
  position: relative;
  height: 400vh;
}

.course-1 {
  position: sticky;
  top: 12%;
}

.course-2 {
  position: sticky;
  top: 28%;
}

.course-3 {
  position: sticky;
  top: 35%;
}